body {
    background-color: lightcyan;
}

.container {
    background-color: lightblue;
    margin: 5% 10%;

    border: 1px solid grey;
    border-radius: 8px;
}
#logo {
    padding: 5px 30px;
    font-size: 50px;
    border: 1px solid grey;
}

.login-form {
    margin: 30px;
}
.switch-div {
    margin: 30px;
}

.login-form label {
    color: rgb(81, 78, 78);
}
.login-form input {
    margin: 10px 0;
    padding: 5px;
    width: 320px;

}
