h1{ color: blue;}
h3{color: darksalmon;}

p{color: black;}
#f1{color: yellow;}
#f3{box-sizing: 203in;}


.bluetext{text-decoration: underline ;}
#bg{background-color: bisque;}
body{background-color:lightgreen;}
#brd{ border: solid;}
#brd{background-color: coral;}
h1{border:silver solid;}
h1{background-color: antiquewhite;}
#bg{background-size: cover;}
#a{padding: 10px;}
#bg{line-height: 30px;}